<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909820349328-s46kp32j331vm9udapjd4k0euk92qj9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909820349328-s46kp32j331vm9udapjd4k0euk92qj9l</string>
	<key>API_KEY</key>
	<string>AIzaSyBIxg0v-BhrnHuz7OzL9wzqR4r3iSPODac</string>
	<key>GCM_SENDER_ID</key>
	<string>909820349328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyAppSeftConfig</string>
	<key>PROJECT_ID</key>
	<string>rn-ts-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-ts-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909820349328:ios:6e9204841505d837afc115</string>
	<key>DATABASE_URL</key>
	<string>https://rn-ts-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>